<body>
    <div class="columns">
        <div class="column">
            <h2 class="fp is-size-2 has-text-white">Easy to Use</h2>
            <p class="fp has-text-white">
                Prestigious DnD character creation apps are not in low supply. However, many of those apps are not user-friendly for beginners just getting started! 
            </p>

            <div class="image">
                <figure class="merlin">
                    <img src="images/merlin.png">
                </figure>
            </div>

            <h2 class="sp is-size-2 has-text-white">Build Your Story</h2>
            <p class="sp has-text-white">
                This application saves your data for later reference so you never forget the details of who your character is so that you can better immerse yourself in your sessions. Confusion stops here, and seamlessness enters the picture!
            </p>
        </div>

        <div class="column">
            <div class="image">
                <figure class="dwarf">
                    <img src="images/dwarf-hammer-warrior.png">
                </figure>
            </div>
            
            <h2 class="tp is-size-2 has-text-white">Dynamic Character Creation</h2>
            <p class="tp has-text-white">
                Although this application is meant to be beginner friendly, that doesn't mean that you should sacrifice the in-depth experience of having a detailed character come to life. Choose, roll, and be ready to go!
            </p>
            
            <div class="image">
                <figure class="elf">
                    <img src="images/elfwarrior.png">
                </figure>
            </div>

        </div>
    </div>
</body>