<body>
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="is-size-3 has-text-centered">Ability Scores</h2>

        <br />

        <table class="table">
          <tr>
            <th>Ability</th>
            <th>Score</th>
            <th>Modifier</th>
          </tr>
          <tr>
            <td>Strength</td>
            <td>
              <input
                type="number"
                value="10"
                id="strength"
                onchange="updateMods()"
              />
            </td>
            <td><input type="number" value="0" id="strength_save" /></td>
          </tr>
          <tr>
            <td>Dexterity</td>
            <td>
              <input
                type="number"
                value="10"
                id="dexterity"
                onchange="updateMods()"
              />
            </td>
            <td><input type="number" value="0" id="dexterity_save" /></td>
          </tr>
          <tr>
            <td>Constitution</td>
            <td>
              <input
                type="number"
                value="10"
                id="constitution"
                onchange="updateMods()"
              />
            </td>
            <td><input type="number" value="0" id="consitution_save" /></td>
          </tr>
          <tr>
            <td>Intelligence</td>
            <td>
              <input
                type="number"
                value="10"
                id="intelligence"
                onchange="updateMods()"
              />
            </td>
            <td><input type="number" value="0" id="intelligence_save" /></td>
          </tr>
          <tr>
            <td>Wisdom</td>
            <td>
              <input
                type="number"
                value="10"
                id="wisdom"
                onchange="updateMods()"
              />
            </td>
            <td><input type="number" value="0" id="wisdom_save" /></td>
          </tr>
          <tr>
            <td>Charisma</td>
            <td>
              <input
                type="number"
                value="10"
                id="charisma"
                onchange="updateMods()"
              />
            </td>
            <td><input type="number" value="0" id="charisma_save" /></td>
          </tr>
        </table>
      </div>

      <div class="column">
        <h2 class="is-size-3 has-text-centered">Player Level</h2>

        <br />

        <input
          type="number"
          id="level"
          min="1"
          max="20"
          value="1"
          onchange="changeLevel();"
        />

        <br /><br />

        <h2 class="is-size-3 has-text-centered">Races</h2>

        <table class="table">
          <tr>
            <td>
              <input
                type="checkbox"
                id="race"
                onchange="updateRace();"
              />
            </td>
            <td>Dragonborn</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="race" onchange="updateRace();" />
            </td>
            <td>Dwaf</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="race" onchange="updateRace();" />
            </td>
            <td>Elf</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="race" onchange="updateRace();" />
            </td>
            <td>Gnome</td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                id="race"
                onchange="updateRace();"
              />
            </td>
            <td>Half-Elf</td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                id="race"
                onchange="updateRace();"
              />
            </td>
            <td>Halfling</td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                id="race"
                onchange="updateRace();"
              />
            </td>
            <td>Half-Orc</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="race" onchange="updateRace();" />
            </td>
            <td>Human</td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                id="race"
                onchange="updateRace();"
              />
            </td>
            <td>Tiefling</td>
          </tr>
        </table>
      </div>

      <div class="column">
        <h2 class="is-size-3 has-text-centered">Proficiency Bonus</h2>

        <br />

        <input type="number" id="proficiency_bonus" value="2" />

        <h2 class="is-size-3 has-text-centered">Skills</h2>

        <table class="table">
          <tr>
            <td>
              <input type="checkbox" id="acroProf" onchange="updateSkills();" />
            </td>
            <td>Acrobatics:</td>
            <td><input type="number" id="acrobatics" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="animal_handling" onchange="updateSkills();" />
            </td>
            <td>Animal Handling:</td>
            <td><input type="number" id="animScore" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="arcaProf" onchange="updateSkills();" />
            </td>
            <td>Arcana:</td>
            <td><input type="number" id="arcana" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="athlProf" onchange="updateSkills();" />
            </td>
            <td>Athletics:</td>
            <td><input type="number" id="athletics" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="decProf" onchange="updateSkills();" />
            </td>
            <td>Deception:</td>
            <td><input type="number" id="deception" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="hisProf" onchange="updateSkills();" />
            </td>
            <td>History:</td>
            <td><input type="number" id="history" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="insProf" onchange="updateSkills();" />
            </td>
            <td>Insight:</td>
            <td><input type="number" id="insight" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="intiProf" onchange="updateSkills();" />
            </td>
            <td>Intimidation:</td>
            <td><input type="number" id="intimidation" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="invProf" onchange="updateSkills();" />
            </td>
            <td>Investigation:</td>
            <td><input type="number" id="investigation" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="medProf" onchange="updateSkills();" />
            </td>
            <td>Medicine:</td>
            <td><input type="number" id="medicine" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="natProf" onchange="updateSkills();" />
            </td>
            <td>Nature:</td>
            <td><input type="number" id="nature" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="percProf" onchange="updateSkills();" />
            </td>
            <td>Perception:</td>
            <td><input type="number" id="perception" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="perfProf" onchange="updateSkills();" />
            </td>
            <td>Performance:</td>
            <td><input type="number" id="performance" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="persProf" onchange="updateSkills();" />
            </td>
            <td>Persuasion:</td>
            <td><input type="number" id="persuasion" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="relProf" onchange="updateSkills();" />
            </td>
            <td>Religion:</td>
            <td><input type="number" id="religion" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="sleiProf" onchange="updateSkills();" />
            </td>
            <td>Sleight of Hand:</td>
            <td><input type="number" id="sleight_of_hand" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="steProf" onchange="updateSkills();" />
            </td>
            <td>Stealth:</td>
            <td><input type="number" id="stealth" /></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="survProf" onchange="updateSkills();" />
            </td>
            <td>Survival:</td>
            <td><input type="number" id="survival" /></td>
          </tr>
        </table>
        <button id="create">Create Character</button>
      </div>
    </div>
  </div>
  <script src="/js/createchar.js"></script>
</body>