<header class="hero">
  <section class="image">
    <div class="cta">
      <figure class="image center">
        <img id="cta-image" src="images/dragon-cut.png" >
      </figure>
      <h1 class="cta-heading title is-1 has-text-white center">
        <a href="/createcharacter">Begin Your Adventure!</a>
      </h1>
    </div>
  </section>
  <section>
    <div>
      <h1 class="app-title center has-background-black-bis p-6"><a href="/mycharacters">My Characters</a></h1>
    </div>
  </section>
</header>