    <header class="hero">
        <h1 class="app-title"><a href="/mycharacters">My Characters</a></h1>
    </header>

    <main class="col-auto">
        {{{body}}}
    </main>

    <footer class="footer flex-row justify-center">
        <a href="/mycharacters/new">New Character</a>
    </footer>

</html>
<script src="/public/js/logout.js"