<header class="hero">
  <h1 class="app-title"><a href="/mycharacters">My Characters</a></h1>
</header>
<footer class="footer flex-row justify-center">
  <a href="/createcharacter">New Character</a>
</footer>