<header class="hero">
  <section class="image">
    <div class="cta">
      <figure class="image is-400by400">
        <img class="cta-image center" src="images/dragon-cut.png" >
      </figure>
      <h1 class="cta-heading title is-1 has-text-white center">
        Begin Your Adventure!
      </h1>
    </div>
  </section>
  <section>
    <div>
      <h1 class="app-title center has-background-black-bis p-6"><a href="/mycharacters">My Characters</a></h1>
    </div>
  </section>
</header>
<footer class="footer flex-row center has-background-black">
  <a href="/createcharacter">New Character</a>
</footer>