<div>
  <h2>Login</h2>

  <form class="login-form">
    <div>
      <label for="username-login">Username:</label>
      <input class="form-input" type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div>
      <button type="submit">Login</button>
      <a href="/signup">Or Sign Up!</a>
    </div>
  </form>
</div>

<script src="./js/login.js"></script>