<div>
  <h2 class="heading has-text-white is-size-2">Login</h2>

  <form class="login-form">
    <div>
      <label class="un has-text-white" for="username-login">Username:</label>
      <input class="form-input has-background-black-ter has-text-white" type="text" id="username-login" />
    </div>
    <div>
      <label class="pw has-text-white" for="password-login">Password:</label>
      <input class="form-input has-background-black-ter has-text-white" type="password" id="password-login" />
    </div>
    <div>
      <button type="submit">Login</button>
      <a href="/signup">Or Sign Up!</a>
    </div>
  </form>
</div>

<script src="./js/login.js"></script>