  <div>
    <h2>Signup</h2>

    <form class="signup-form">
      <div>
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<a href="/login">Already have an account?</a>

<script src="./js/signup.js"></script>