
  <div>
    <h2 class="signup has-text-white">Signup</h2>

    <form class="signup-form">
      <div>
        <label class="username has-text-white" for="username-signup">Username:</label>
        <input class="form-input has-background-black-ter" type="text" id="username-signup" />
      </div>
      <div>
        <label class="email has-text-white" for="email-signup">Email:</label>
        <input class="form-input has-background-black-ter has-text-white" type="text" id="email-signup" />
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input class="form-input has-background-black-ter has-text-white" type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>
<a href="/login">Already have an account?</a>

<script src="./js/signup.js"></script>